.ant-drawer-content
  .ant-drawer-wrapper-body
  .ant-drawer-header
  .ant-drawer-header-title
  .ant-drawer-close {
  position: absolute;
  right: 0;
  bottom: 25%;
  color: #6a7385;
}

.ant-drawer-content {
  background-color: transparent;
}

.ant-drawer-content
  .ant-drawer-wrapper-body
  .ant-drawer-header
  .ant-drawer-header-title
  .ant-drawer-close {
  position: absolute;
  right: 0;
  bottom: 25%;
  color: #6a7385;
}
